BACKEND_URL=https://api-alpha.infinidream.ai/api/v1
FRONTEND_URL=https://alpha.infinidream.ai
API_KEY=your_api_key_here

# Used by tests/gen.py for endpoints that require existing content
# alpha:
DREAM_UUID=2caac81f-a5da-4272-927a-21cee268b12d
STILL_UUID=eb3faad8-6a96-4388-92ad-ddc766bdb748
